<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MYA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MYA.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MYA.My.MySettings>
            <setting name="ADBpath" serializeAs="String">
                <value />
            </setting>
            <setting name="FBPath" serializeAs="String">
                <value />
            </setting>
        </MYA.My.MySettings>
    </userSettings>
    <applicationSettings>
        <MYA.My.MySettings>
            <setting name="ADB_usb" serializeAs="String">
                <value>AdbWinUsbApi.dll</value>
            </setting>
            <setting name="ADB_win" serializeAs="String">
                <value>AdbWinApi.dll</value>
            </setting>
            <setting name="ADB_exe" serializeAs="String">
                <value>adb.exe</value>
            </setting>
            <setting name="FB_exe" serializeAs="String">
                <value>fastboot.exe</value>
            </setting>
        </MYA.My.MySettings>
    </applicationSettings>
</configuration>
